<!DOCTYPE html>
  <html>
  <head>
    <title>Nerd Bay</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <header>
    <a href="#" class="head-btn">Sign Up</a>
    <a href="#" class="head-btn">Log In</a>
    <a href="#" class="head-btn">Home</a>
  </header>
  <body class='home'>
    <h1>Welcome to Nerd Bay, nerd.</h1>
  
  </body>
</html>