<!DOCTYPE html>
  <html>
  <head>
    <title>Nerd Bay</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <ul class='horizontal'>
    <li><a class='active' href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Login</a></li>
    <li class='rightli' style="float:right"><a href="#">About</a></li>
  </ul>
  <body class='home'>
    <h1>Welcome to Nerd Bay, nerd.</h1>
  
  </body>
</html>