<!DOCTYPE html>
  <html>
  <head>
    <title>Nerd Bay</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <ul class='horizontal'>
    <li><a class='active' href="/">Home</a></li>
    <li class='rightli' style="float:right"><a href="/about">About</a></li>
  </ul>
  <body class='home'>
  <h1>This is your profile page!</h1>
  </body>
</html>