header {
  background-color: #000109;
  border: 1px solid black;
  border-radius: 25px;
  height: 75px;
}

.head-btn{
  display: inline-block;
  background-color: #f44336;
  color: #FFFFFF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  opacity: 0.9;
  border-radius: 20px;
}
.home {
  background-color: #000538;
  color: white;
  font-family: courier;
}